.Nav {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 90px;
    width: 100vw;
    position: fixed;
}

#logo {
    width: 200px;
    height: auto;
}

ul {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}