.Home {
    background-color: rgb(87, 87, 87);
    color: rgb(80, 223, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 100vw;
    width: 100vw;
  }
  
  #gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 800px;
    border: solid rgb(80, 223, 248) 5px;
  }
  
  .Project {
    height: 200px;
    width: 200px;
    border: solid rgb(80, 223, 248) 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  .Project:hover {
    border: solid lightgreen 3px;
    color: lightgreen;
  }